body {
    background: #fafafa;
}
.bg-image {
    background-image: url('../../public/img/bg_pattern.png');
}
.logo-white {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.welcome-budgetify {
    position: relative;
    height: 100vh;
    min-height: 700px;
    background: url('../../public/img/welcome-cover.jpg') no-repeat center center fixed;
    background-size: cover;
}
.welcome-budgetify:before {
    position: absolute;
    z-index: 0;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    background: #007bff;
}
@media(min-width: 768px) {
    .cover-block-1 {
        width: 67%;
    }
    .cover-block-2 {
        width: 32%;
    }
}
@media(max-width: 767px) {
    .calculator-element-2 {
        width: 80%;
    }
    .calculator-element-3 {
        width: 82%;
    }
}
@media(min-width: 768px) and (max-width: 991px) {
    .calculator-element-2 {
        width: 83%;
    }
    .calculator-element-3 {
        width: 69%;
    }
}
@media(min-width: 992px) and (max-width: 1199px) {
    .calculator-element-2 {
        width: 81%;
    }
    .calculator-element-3 {
        width: 65%;
    }
}
@media(min-width: 1200px) {
    .calculator-element-2 {
        width: 84%;
    }
    .calculator-element-3 {
        width: 70%;
    }
}
.select2-container {
    top: 12px;
}
.list-group-item .item__delete {
    cursor: pointer;
}
.form-control.is-valid,
.form-control.is-invalid {
    background-image: none;
}
.select2-container--bootstrap4 .select2-selection.select2-selection--single {
    border: 1px solid #17c671;
}
.select2-container--bootstrap4 .select2-selection--single {
    border: 1px solid #c4183c;
    border-radius: .25rem;
}
.select2-container--bootstrap4.select2-container--focus .select2-selection {
    border-color: #17c671;
}
.form-control.is-valid:focus,
.form-control.is-invalid:focus,
.btn-outline-success:focus,
.btn-outline-danger:focus {
    box-shadow: none !important;
}